/* Hero */
.c-hero { $c: &;
	padding: 96px 0;

	@media only screen and (max-width: $desktop) {
		padding: 80px 0;
	}

	@media only screen and (max-width: $tablet) {
		 padding: 40px 0 80px;
	}

	@media only screen and (max-width: $mobile) {
		padding: 30px 0 60px;
	}

	&__inner {
		display: flex;
		align-items: center;

		@media only screen and (max-width: $tablet) {
			flex-direction: column;
		}
	}

	&__left,
	&__right {
		width: 50%;

		@media only screen and (max-width: $tablet) {
			width: 100%;
		}
	}

	&__left {
		max-width: 510px;
		padding-right: 20px;
		margin-right: auto;

		@media only screen and (max-width: $tablet) {
			max-width: 100%;
			padding-right: 0;
		}
	}

	&__right {
		position: relative;
		
		@media only screen and (max-width: 1130px) {
			#{$c}__image {
				width: 400px;
			}
		}

		@media only screen and (max-width: $desktop) {
			#{$c}__image {
				width: 340px;
			}
		}

		@media only screen and (max-width: $tablet) {
			order: -1;

			#{$c}__image {
				width: 100%;
				margin-bottom: 40px;

				&::before {
					border-radius: 30px;
				}

				img {
					border-radius: 30px;
				}
			}
		}

		@media only screen and (max-width: $mobile) {
			#{$c}__image {
				margin-bottom: 32px;

				&::before {
					border-radius: 16px;
				}

				img {
					border-radius: 16px;
					box-shadow: none;
				}
			}
		}
	}

	&__title {
		margin-bottom: 20px;
		font-size: 58px;
		color: $heading-font-color;

		@media only screen and (max-width: 1130px) {
			font-size: 44px;
		}

		@media only screen and (max-width: $desktop) {
			font-size: 38px;
			margin-bottom: 24px;
		}

		@media only screen and (max-width: $mobile) {
			font-size: 32px;
		}
	}

	&__description {
		p {
			margin-bottom: 0;
			font-size: 18px;
			line-height: 1.6;
			color: $text-color;

			@media only screen and (max-width: $desktop) {
				font-size: 16px;
			}
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		margin-top: 40px;

		.cta-button {
			margin-right: 8px;
		}

		.works-button {
			&:hover {
				.circle-bg {
					transition: all .2s cubic-bezier(.215,.61,.355,1);
					transform: scale(.94);
				}
			}

			.circle-bg {
				display: flex;
				align-items: center;
				justify-content: center;
				min-width: 18px;
				height: 18px;
				margin-right: 8px;
				font-size: 14px;
				border-radius: 50%;
				will-change: transform;
				background: linear-gradient(90deg, $primary-color 0%, $secondary-color 167%);
				transition: all .2s cubic-bezier(.215, .61, .355, 1);
			}

			.button-arrow {
				color: $white;
			}
		}

		@media only screen and (max-width: $desktop) {
			margin-top: 32px;
		}

		@media only screen and (max-width: $mobile) {
			.cta-button,
			.works-button {
				font-size: 15px;
			}
		}
	}

	&__image {
		position: relative;
		z-index: 10;
		width: 440px;
		height: auto;
		aspect-ratio: 888 / 1353;
		margin-left: auto;

		&::before {
			display: none;
		}

		img {
			position: absolute;
			top: 0;
			z-index: 1;
			height: 100%;
			width: 100%;
			border-radius: 60px;
			object-fit: contain;
			user-select: none;
			box-shadow: none;
			transition: inherit;
			background: transparent;
		}
	}
}
